.App {
  text-align: center;
}
 /* .nav-main {
  background-color: aliceblue;
  height: auto;
  display: flex;
 } */

.enter-site-main {
  background-color: aliceblue;
  align-items: center;
  text-align: center;
  display: flex
}

.bars-menu {
  
}

.revealed-menu {

}