.bio-container {
    width: 100%;
    height: 400px;
    background-color: #000000;
    font-family: 'coldiac';
    text-align: center; 
}

.bio-container h2 {
    color: #F7F7FF;
    padding-top: 5px;
}

.bio-text-container {
    align-self: center;
    text-align: center;
}

.bio-text {
    color: #F7F7FF;
    padding-top: 18px;
    margin: 8px 50px 50px 50px;
}

.bio-text p {
    margin-left: 120px;
    margin-right: 120px;
}

