.footer-container {
    display: flex;
    background-color: #2F2F2F;
    height: 100px;
    width: 100%;
    align-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: hidden;
    font-family: 'coldiac';

}

.footer-deets {
    color: #F7F7FF;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    padding-left: 8px;
}

.foot-icons {
    position: absolute;
    align-items: center;
    align-self: center;
    vertical-align: middle;
    text-align: center;
    margin: 48%;
    display: flex;
    /* overflow: hidden; */
}

.fa-instagram {
    color: #F7F7FF;
    vertical-align: middle;
    text-align: center;
    float: left;
}

.fa-envelope {
    color: #F7F7FF;
    padding-left: 8px;
    float: right;
}

.designer-tag {
    color: #F7F7FF;
    align-content: center;
    margin-left: 84%;
    overflow: auto;
    margin-top: auto;
    margin-bottom: auto;

}