.home-page {
    display: flex;
}
.carousel-item{
    min-height: 100vh;
}

.carousel-item  img {
    /* display: block; */
    min-height: 100vh;
    height: 100%;
    max-width: 100%;
    min-width: 60%;
    width: 100%;
}