@font-face {
    font-family: coldiac;
    src: url(./fonts/Coldiac.ttf);
}
.services-container {
    background-color: #989572;
    height: fit-content;
}

.services-banner {
    background-image: url('./imgs/station.png');
    background-position: center;
    width: 100%;
    display: block;
    height: 50vh;
}

.services-banner h1 {
    color: #F7F7FF;
    text-align: center;
    align-items: center;
}

.service-row {
    /* overflow: hidden; */
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #F7F7FF;
    /* color: #A9FFF7; */
    color: #14110F;
    font-family: 'coldiac';
}

.service-row h3 { 
    padding: 45px;
    font-size: 40px;
    width: 25%;
    font-weight: 550;
    /* overflow: hidden; */

}

.service-row ul {
    /* width: 33%; */
    float: right;
    /* overflow: hidden; */
    list-style: none;
}

.service-row li {
    font-size: 22px;
    margin-bottom: 40px;
    margin-right: 100px;
}


/* .service-list-left {
    width: 50%;
    float: left;
    overflow: hidden;
    align-items: center;
    align-content: center;
    text-align: center;
}

.service-list-right {
    width: 50%;
    float: right;
    overflow: hidden;
} */

/* .service-title-left {
    display: flex;
    padding-left: 10px;
} */

/* .service-title-right {
    display: flex;
    padding-left: 82%; 
    margin: auto;
} */

/* .service-deets-left {
    list-style: none;
}

.service-deets-right {
    list-style: none;
    align-items: center;
    align-content: center;
}

.policy-background {
    margin-top: 44px;
    margin: 44px 25%;
    align-items: center;
    text-align: center;
    background-image: url(./imgs/canvas.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.policy-container {
    text-align: center;
} */