.services-page {
    background-image: url('./imgs/station.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: block;
}

.services-container {
    /* display: block; */
    color: blue;
    width: 720px;
    margin: auto;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 17px #333;
    text-align: center;
    overflow: hidden;
    background-image: url(./imgs/canvas.png);
    /* align-items: center; */
    /* align-content: center; */
    /* height: max-content; */
}
/* .services-background {
    
} */

.service-list-left {
    width: 50%;
    float: left;
    overflow: hidden;
    align-items: center;
    align-content: center;
    text-align: center;
}

.service-list-right {
    width: 50%;
    float: right;
    overflow: hidden;
}

/* .service-title-left {
    display: flex;
    padding-left: 10px;
} */

/* .service-title-right {
    display: flex;
    padding-left: 82%; 
    margin: auto;
} */

.service-deets-left {
    list-style: none;
}

.service-deets-right {
    list-style: none;
    align-items: center;
    align-content: center;
}

.policy-background {
    margin-top: 44px;
    margin: 44px 25%;
    /* width: 75; */
    align-items: center;
    text-align: center;
    background-image: url(./imgs/canvas.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}

.policy-container {
    text-align: center;
}