.testomonial-page {
    background-color: #104547;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.testomonials-container {
    text-align: center;
    width: 100%;
    align-items: center;
}

.testomonials-container h1 {
    text-align: center;
    vertical-align: middle;
}

.testomonial-card {
    color: #F7F7FF;
    width: 300px;
    float: left;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* .testomonial-card p {
    text-align: center;
    margin: 20 100px 0 100px;
} */

.review {
    text-align: center;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
}

.by-line {
    
    margin-top: 0;
}